.burger_menu{
width: 30px;
height: 40px;
display: none;

}
.burger__bar{
    height: 4px;
    width: 100%;
    margin: 4px 0px;
    background-color: rgb(163, 126, 233);
}

.menu{
    display: flex;
    list-style: none;
}
.menu li{
    margin: 5px;
}
